.datemenu{
    @include floating_widget;
     border-radius: $popover_radius $popover_radius 0 0;
     border: 2px solid $white;
     
    .widget{
        @include widget;
        margin: $spacing;
        padding: $spacing;
    }

    .time{
        .hour{ color: $magenta; }
        .minutes{ color: $green; }
        .seconds{ color: $yellow; }
        .hour, .minutes, .seconds, .dot{
                margin-top: $spacing;
                text-shadow: $text_shadow;
                font-size: 3em;
        }
    }
    
    .calendar-bin{
        border-radius: $popover_radius $popover_radius 0 0;
        border: 2px solid $white;
        background-color: $back;
        padding: 1em 2em .4em 2em;
        @include calendar;
    }
     
    .system{
        > * {
            border-radius: $popover_radius $popover_radius 0 0;
            border: 2px solid $white;
            @include widget;
            margin: $spacing;
            padding: 5px;
            min-width:  2.8em;
            min-height: 2.8em;
            background-color: $back;
        }
        circular-progress{
            background-color: $bg_color;
            color: $white;
            &.battery{   
            &.low{ color: $red }
            }
            .icon{ font-size: 1em; }
        } 
    }
 
.weather {
    margin-top: 0.50rem;
    margin-bottom: 0.50rem;
    &.info {
      background-color: $back;
      border-radius: 0.50rem;
      padding: 0.50rem;
      border: 2px solid $white;

      .desc {
        font-size: 1.2rem;
        color: $white;
      }
    }

    .temp {
      font-size: 1.5rem;
      font-weight: bolder;
      color: $white;
    }

    .city {
      font-size: 1.2rem;
      color: $white;
    }

    &.icon {
      background-color: $back;
      border-radius: 1rem;
      padding: 0.50rem;
      border: 2px solid $white;

      .icon {
        font-size: 2.2rem;
        text-shadow: 0 0 0.2rem black;
        min-width: 4rem;
      }
    }
}

 .profile {
    &.image {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 4rem;
      min-width: 4rem;
      border-radius: 100%;
      margin-top: 0.50rem;
      box-shadow: 0 0 2px 2px rgba(black, 0.3);
} 

 &.info {
     margin-top: 0.50rem;
      .name {
        font-size: 1.1rem;
        font-weight: bold;
        color: $white;
      }

        .uptime {
        font-size: 1rem;
        color: $white;
      }
    }

      .exit {
      font-size: 1.5rem;
      color: $white;
      background-color: transparent;
      padding: .8rem 1rem;
      border-radius: 1rem;

      &:hover{
        color: $back;
    }
} 
