/*-------------------[Tooltip]------------------------------*/

* {
    all: unset;
    font-family: minecraft;
    font-weight: bold;
}

/*-------------------[Variable]------------------------------*/

@mixin window {
    background-color: $bg;
    padding: 1rem;
    color: $white;
/*  box-shadow: 0 0 4px 2px $lavanda;*/
    margin: 1rem;
    border: 1px solid $magenta;
    transition: 0.3s;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

@mixin over{
  background-image: $gradient;
}

/*-------------------[Color]------------------------------*/

$bg: rgba(46, 52, 64, 0.6);
$fg: rgba(46, 52, 64, 0.1);

$gradient: linear-gradient(45deg, #5e81ac,#a69ae6, #BC9AD4);

$white:  #c0caf5;
$cyan: #4DD0E1;
$magenta: #c296eb;
$lavanda: #d1cfe5;

/*-------------------[Import]------------------------------*/

/*@import "scripts/colors/colors.scss";*/

@import "scss/bar.scss";
@import "scss/dock.scss";

@import "scss/control_center.scss";
@import "scss/notifications_popup.scss";
@import "scss/music_popup.scss";

@import "scss/bg_widgets.scss";
@import "scss/quick_settings.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/notifications.scss";
