/*-------------------[Bar]------------------------------*/

.bar-widget {
    background-color: $bg;
    padding: 1rem;
    color: $white;
/*  box-shadow: 0 0 4px 2px $foreground;*/
    padding: 0.4rem 1rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid $magenta;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

/*-------------------[Workspace]------------------------------*/

.workspaces {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
    background-color: transparent;
    border: 1px solid $magenta;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 6rem;
}

.workspace {
    border-radius: 1rem;
    background-color: $lavanda;
    margin: 0 0.25rem;
    padding: 0 0.7rem;
    transition: 0.3s;

    &.current {
        background-color: $white;
        padding: 0 2rem;
    }
}

.workspace:hover {
  background-image: $gradient; 
}

/*-------------------[Distro]------------------------------*/

.logo {
    font-size: 1.5rem;
    background-color: $magenta;
    color: $white;
    padding: 0 0.6rem;
    transition: 0.3s;
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
    min-height: 21px;
    min-width: 21px;
}

.logo:hover {
  @include over;
}

/*-------------------[Clock]------------------------------*/

.clock {
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.2rem;
}

/*-------------------[Language]------------------------------*/

.language {
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.3rem;
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
}

.language:hover {
  @include over;
}

/*-------------------[Picker]------------------------------*/

.picker {
    font-size: 1.25rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    margin-top: 0.2rem;
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
    transition: 0.3s;
}
.picker:hover {
  @include over;
}

/*-------------------[Indicator]------------------------------*/

.indicator {
    background-color: $magenta;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    margin-right: 0;
    transition: 0.3s;
    border: 1px solid $magenta;
    border-bottom-left-radius: 21rem;
    border-bottom-right-radius: 8rem;
}

.indicator-icon {
    margin: 0 0.35rem;
    font-size: 1.3rem;
}

.indicator:hover {
    @include over;
}

/*-------------------[Tray]------------------------------*/

.tray_box {
    @include window;
    min-width: 10rem;
    min-height: 1.5rem;
}

.tray_button {
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 1.5rem;
}

.tray_button:hover {
  @include over;  
}

tooltip {
    background-color: $bg;
    color: $white;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $bg;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $white;
    font-size: 1.1rem;
    border: 1px solid $magenta;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

menu>menuitem {
    padding: 0.5rem 1rem;
    transition: 0.3s;
    border-radius: 1rem;
}

menu>menuitem:hover {
  @include over;
}

/*-------------------[Music]------------------------------*/

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 32px;
  min-width: 60px;
  padding: 0 0.6rem;
  transition: 0.3s;
  border-bottom-left-radius: 12rem;
  border-bottom-right-radius: 2rem;
  border: 1px solid $magenta;
}

.img:hover {
    @include over;
}

.button {
    font-size: 1.50rem;
    background-color: $magenta;
    color: $white;
    padding: 0 0.20rem;
    margin: 0.16rem;
    transition: 0.3s;
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
    min-height: 21px;
    min-width: 21px;
} 

.button:hover {
    @include over;
}

