/*-------------------[Variables]------------------------------*/

.bg_widgets {
  background-color: $fg;
}

.separator {
  color: $white;
  margin-left: 2rem; 
  margin-right: 2rem;
  margin-bottom: 20rem;
}

.one {
/*  @include window;*/
    min-width: 20rem;
    border-radius: 2rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    color: $white;
}

/*-------------------[Welcome]------------------------------*/

.welcome {
/*  @include window;*/
    border-radius: 0rem;
    margin-bottom: -10rem;
    margin-right: 1rem;
}

.welcome-text {
/*  @include window;*/
    color: $white;
    margin-bottom: -8rem;
    margin-right: 0.50rem;
    font-size:  2.50rem;
}

.user-text {
/*  @include window;*/
    color: $white;
    margin-bottom: -2rem;
    margin-right: 0.50rem;
    font-size:  2.50rem;
}

.welcome-image {
    background-image: url("/home/shen/.face");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 16rem;
    min-width: 16rem;
    border-radius: 100%;
    border: 2px solid $magenta;
}

/*-------------------[Clock]------------------------------*/

.big_clock_box {
/*    @include window;*/
   min-width: 20rem;
    border-radius: 2rem;
    margin-bottom: 0rem;
    margin-left: 8rem;
    color: $white;
}

.big_clock_label {
    font-size: 6rem;
}

.big_calen_label {
    font-size: 2rem;
}

/*-------------------[Weather]------------------------------*/

.weather {
/*  @include window;*/
    min-width: 20rem;
    border-radius: 2rem;
    margin-bottom: 0rem;
    margin-left: 12rem;
    color: $white;
}

.weather-icon {
    font-size: 6rem;
}

.weather-temp {
    color: $magenta;
    font-size: 6rem;
    margin-left: 5rem;
    margin-right: 4rem;
}

.weather-error {
    font-size: 1.2rem;
}

/*-------------------[Quotes]------------------------------*/

  .quote-text, .quote-author{
    font-size:  1.50rem;
    font-weight: bold;
    color: $white; 
    margin-top: 1rem;
/*  text-shadow: 2px 2px 4px $lavanda;*/
  }

/*-------------------[Info]------------------------------*/
 
.info-box {
    min-width: 20rem;
    border-radius: 2rem;
    margin-bottom: 0rem;
    margin-left: 8rem; 
}

.info_box {
	padding-top :0px;
  padding-bottom :0px;
  padding-right :12px;
  padding-left :12px; 
  font-size: 2.50rem;
}

.info-circle {
	border-radius: 100%;
	padding: 2.15rem;
  border: 12px none $white;
}

.cpu-icon {
	color: $magenta;
}

.cpu-text {
  padding-top: 0;
  padding-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
	font-size : 1.25rem; 
  font-weight : bold;
  color: $magenta;
}

.memory-icon {
	color: $white;
}

.memory-text {
   padding-top: 0;
  padding-bottom: 2rem;
  padding-right: 0;
  padding-left: 0;
	font-size : 1.25rem; 
	font-weight : bold;
  color: $white;
}

.disk-icon {
	color: $lavanda; 
}

.disk-text {
  padding-top: 0;
  padding-bottom: 2rem;
  padding-right: 0;
  padding-left: 0; 
  font-size: 1.25rem; 
	font-weight : bold;
  color: $lavanda;
}
