$theme: 'dark';

//colors
$green: #43c383;
$yellow: #d8e77b;
$blue: #51a4e7;
$magenta: #9077e7;
$teal: #51e6e6;
$white: #cad5ff;
$magenta: #c49ec4;
$green: #9ec49f;
$yellow: #ceb188;
$red: #e67090;
$orange: #E79E64;

$bg_color: #171717;
$fg_color: #eee;
$hover_fg: #eee;
$accent_fg: #171717;

$gradient:  linear-gradient(45deg, #7396E6, #CE7194);
$bar:  rgba(0, 0, 51, 0.4);
$back: rgba(13, 15, 24, 0.6); 
$accent: $blue;
$destructive: $red;
$succes: $green;
