.icon {
    font-size: 1.5rem;
    color: $white;
    padding: 0 0.6rem;
    transition: 0.3s;
    border-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border-bottom-right-radius: 2rem;
    min-height: 21px;
    min-width: 21px;
}

.icon:hover {
  @include over;
}

.text {
  font-size: 1rem;
  padding: 0 0.6rem;
}

.app {
    background-image: url("/home/shen/.face");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 2rem;
    min-width: 2rem;
    border-radius: 100%;
    border: 1px solid $magenta;
}

.app:hover {
  border-color: $cyan; 
}
