/*-------------------[Styles]------------------------------*/

.musiccenter{
  color: $white;
  border-radius: 12px;
  transition: 0.3s;
  text-shadow: 2px 2px 4px $lavanda;
/*  border: 1px solid $magenta;*/
}

/*-------------------[Control]------------------------------*/

.musiccontrols{
  min-width: 170px;
  border-radius: 20px;
}
.musicbutton{
  background-color: $bg;
  margin-top: 0rem;
  margin-right: 0rem;
  font-size: 16px;
  padding: 4px 8px;
}

/*-------------------[Title]------------------------------*/

.musictitle{
  margin-top: 40px;
  margin-right: -20rem;
  font-size: 1.85rem;
  font-weight: 600;
  font-style: italic;
}

.musicartist {
  margin-top: 10px;
  margin-right: -22rem;
  font-size: 1.45rem;
  font-weight: 600;
  font-style: italic;
}

/*-------------------[Bar]------------------------------*/

.musicscale scale trough highlight {
  all: unset;
  background-image: $gradient;
  border-radius: 10px;
  min-width: 10px;
}
.musicscale scale trough {
  all: unset;
  background-color:  $white;
  border-radius: 6px; 
  min-height: 10px;
  min-width: 140px;
   margin: 20px 20px;
}

.musicscale label {
  font-size: 25px;
  margin: 6px;
}

/*-------------------[Background img]------------------------------*/

.musicart {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: unset;
  border-radius: 12px;
  opacity: 0.85;
  border: 1px solid $magenta; 
}
