/*-------------------[Button]------------------------------*/

.quick_settings_button {
    transition: 500ms;
    background-color: $bg;
    color: $white;
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1.05rem;
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
}

.quick_settings_button:hover {
  background-image: $gradient; 
}

.quick_settings_button_toggled {
    background-color: $magenta;
    color: $bg;
}

.quick_settings_button_toggled:hover {
    background-image: $gradient; 
}

/*-------------------[Extra]------------------------------*/

.quick_settings_box {
    margin-top: 1rem;
}

.quick-settings-icon {
    font-size: 1.3rem;
}

.quick-settings-info {
    margin-left: 1rem;
}

/*-------------------[State]------------------------------*/

.quick-settings-state {
    font-size: 0.9rem;
    color: $white;
}

.quick-settings-state-enabled {
    color: $bg;
}
