/*.recorder_menu{
 background-color: $bg;
}*/

.recorder_menu_box {
    @include window;
}

.recorder_menu_icon {
    color:  $white;
    font-size: 3rem;
}

.recorder_menu_label {
    font-size: 1.2rem;
}

.recorder_menu_checkbox_label {
    font-size: 1.15rem;
}
.recorder_menu_checkbox_box {
    margin-top: 0.25rem;
    padding: 0.25rem;
}
.recorder_menu_checkbox check {
    background-color:   transparent;
    border: 1px solid  $white;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: 0.25rem;
}

.recorder_menu_checkbox check:hover{
   background-image: $gradient;
}

.recorder_menu_checkbox check:checked {
    background-color:  transparent;
    color:    $white;
    border: 1px solid  $white;
}

.recorder_menu_checkbox check:checked:hover{
   background-image: $gradient;
}

.record_menu_buttons {
    font-size: 1.2rem;
    padding: 0.35rem;
}

.record_menu_button_cancel, .record_menu_button_start {
    border: 1px solid $white;
    border-radius: 1rem;
    min-width: 6rem;
    padding: 0.25rem;
}

.record_menu_button_cancel:hover, .record_menu_button_start:hover {
    background-image: $gradient;
}
