/*-------------------[Date]------------------------------*/

.username {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.uptime {
    color: $white;
    font-size: 1rem;
}

.user-image {
    background-image: url("/home/shen/.face");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 100%;
    border: 1px solid $magenta;
}

.user-image:hover {
  border-color: $cyan; 
}

.user-clock-time {
    font-size: 1.4rem;
}

.user-clock-separator {
    font-size: 1.4rem;
    margin: 0 0.25rem;
}

.user-clock-date {
    font-size: 1.2rem;
}

/*-------------------[Button]------------------------------*/

.open-button {
    background-color: $bg;
    color: $white;
    border-radius: 1rem;
    padding: 0 1rem;
    margin: 0.35rem 0rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.open-button:hover {
    background-image: $gradient; 
}
