/*-------------------[Styles]------------------------------*/

.volume-osd {
   @include window;
   min-width: 25rem;
}

.volume-control-center {
    margin-top: 1rem;
}

.volume-scale trough {
    background-color: transparent;
    border-radius: 1rem;
    min-height: 2.25rem;
    border: 1px solid $magenta;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 2rem;
}


.volume-scale trough highlight {
    background-image: $gradient;
    border-radius: 1rem;
    min-height: 2.25rem;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 2rem;
}

/*-------------------[Icon]------------------------------*/

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: $white;
    };

    &.more {
        color: $white;
    };
}

/*-------------------[Arrow]------------------------------*/

.volume-arrow {
    color: $white;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;
}

.volume-arrow:hover {
  background-image: $gradient;
}

/*-------------------[Mute]------------------------------*/

.volume-mute {
    background-color: $bg;
    color: $white;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    min-width: 2.25rem;
    border-radius: 2rem;
    transition: 0.3s;

    &.active {
        background-color: $magenta;
        color: $white;
    }

    &.active:hover {
      background-image: $gradient;
    }
}

.volume-mute:hover {
    background-image: $gradient;
}
