@mixin window {
    background-color: $surface;
    border-style: solid;
    border-width: 2px; 
    border-color: $primary $primary $tertiary $tertiary;
    border-radius: 0.50rem;
    padding: 1rem;
    color: $onSurface;
    box-shadow: 0 0 4px 2px $shadow;
    margin: 0.80rem;
}
