#bar {
  padding: 0px 7px 0px 7px;
}

#bar.start-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-right-radius: 15px;
}

#bar.center-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#bar.end-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 15px;
}

#center-bar {
  background-color: transparent;
}

#bar,
#bar-corner * {
  background-color: alpha(@background, 0.6);
}

#bar.hidden {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

#bar.visible {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

/*
 * ── button bar ────────────────────────────────────────────────────────
*/

#button-bar {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 1px 0px 1px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  transition: all 0.1s ease;
}

#button-bar-label {
  color: @primary;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

#button-bar:hover { 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

#button-bar:active #button-bar-label {
  color: @shadow;
  background-color: @primary;
}

/*
 * ── workspace ─────────────────────────────────────────────────────────
*/

#workspaces {
  font-style: normal;
  background: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

/*
 * ── update ────────────────────────────────────────────────────────────
*/

#update-icon {
  color: @primary;
  font-size: 22px;
  padding: 1px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

#updated-icon {
  color: @primary;
  font-size: 20px;
  padding: 4px;
  border-radius: 99px;
  transition: all 0.1s ease;
}

#update-label {
  color: @primary;
  font-size: 10px;
  font-weight: bold;
  padding: 0px;
  margin-right: 4px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

/*
 * ── Clock ─────────────────────────────────────────────────────────────
*/

#window-box,
#datetime {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

/*
 * ── battery ───────────────────────────────────────────────────────────
*/

#battery {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

#battery-circle {
  color: @surfaceBright;
  border: 3px solid @primary;
}

#battery-circle.alert {
  border: 2px solid @error;
}

#battery-icon {
  font-size: 20px;
}

#battery-icon.alert {
  color: @onError;
}

#battery-save,
#battery-balanced,
#battery-performance {
  min-width: 30px;
  min-height: 28px;
  margin: 2px 0px;
  border-radius: 100px;
}

#battery-save-label,
#battery-balanced-label,
#battery-performance-label {
  color: @outline;
  font-size: 20px;
}

#primary-label {
  color: @primary;
  font-size: 20px;
}

#battery-save:hover,
#battery-balanced:hover,
#battery-performance:hover { 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

#battery-save:hover #battery-save-label,
#battery-balanced:hover #battery-balanced-label,
#battery-performance:hover #battery-performance-label {
  color: @primary;
}

#battery-save.active,
#battery-balanced.active,
#battery-performance.active {
  background-color: @primary;
}

#battery-save.active #battery-save-label,
#battery-balanced.active #battery-balanced-label,
#battery-performance.active #battery-performance-label {
  color: @shadow;
}

#battery-level {
  color: @primary;
  font-weight: bold;
  margin: 0 4px;
  font-size: 11px;
}

/*
 * ── metric ────────────────────────────────────────────────────────
*/

#metrics {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px; 
}

#metric-icon {
  font-size: 20px;
}

#metric-circle {
  color: @surfaceBright;
  border: 3px solid @primary;
}

#metrics-revealer {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  font-size: 20px;
}


#metrics-revealer:hover {
  background-color: @surfaceBright;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

/*
 * ── tray ──────────────────────────────────────────────────────────────
*/

#tray-revealer {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 2px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  font-size: 20px;
}

#tray {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

#tray > button {
  margin: 0px;
  padding: 0px;
}

#tray-revealer:hover {
  background-color: @surfaceBright;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

menu {
  border: solid 1px @outlineVariant;
  border-radius: 16px;
  background-color: @surface;
  padding: 6px;
}

menu > menuitem {
  border-radius: 10px;
  padding: 6px 10px;
}

menu > menuitem:hover {
  background-color: @surfaceBright;
}

menu > menuitem:hover > label {
  color: @onSurface;
}

/*
 * ── logo ──────────────────────────────────────────────────────────────
*/
#logo {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

#logo-name {
  color: darker(@primary);
}

#logo:hover { 
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

/*
 * ── status indicator ───────────────────────────────────────────────────────────
*/

#system-indicators {
  background-color: @surfaceContainer;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

#system-indicator-icon {
  font-size: 20px;
}

/*
 * ── taskbar ───────────────────────────────────────────────────────────
*/

#taskbar {
  border-radius: 100px;
  color: @onSurface;
  background: @surfaceContainer;
  padding-left: 4px;
  padding-right: 4px;
}

#taskbar > button.activated {
  border-radius: 100px;
  background: @surfaceVariant;
}

#taskbar > button:hover {
  background: @surfaceBright;
}

#taskbar > button {
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 100px;
  border: 0px;
}

#taskbar > button:last-child {
  margin-right: 0px;
}

/*
 * ── recording indicator ───────────────────────────────────────────────
*/

#recorder {
  color: @error;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 6px 0px;
  border-radius: 8px;
  font-size: 20px;
  animation: error 2s infinite;
}

@keyframes error {
  to {
    background-color: @onError;
  }
}
