#bar,
#bot {
  padding: 0px 7px 0px 7px;
}

#bar.start-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-right-radius: 15px;
}

#bar.center-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#bar.end-container {
   padding-top: 2px;
   padding-bottom: 2px; 
   border-bottom-left-radius: 15px;
}

#center-bar {
  background-color: transparent;
}

#bar,
#bot,
#bar-corner * {
  background-color: alpha(@background,0.6);
}

#bar.hidden {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

#bar.visible {
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
} 

/*
 * ── button bar ────────────────────────────────────────────────────────
*/

#button-bar {
  background-image: url('/home/shen/.config/Modus/assets/Icon/cristal.png');
  background-repeat: no-repeat;
  background-position: center; 
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 1px 0px 1px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  transition: all 0.1s ease;
}

#button-bar-label {
  color: @primary;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

#logo:hover,
#button-bar:hover { 
  text-shadow: 1px 1px 2px @primary;
  box-shadow: 0 8px 4px alpha(@base00, 0.3),
  inset 0 4px 12px rgba(255, 255, 255, 0.15);
  transition: all 0.1s ease;
}

#button-bar:active #button-bar-label {
  color: @shadow;
}

/*
 * ── workspace ─────────────────────────────────────────────────────────
*/

#taskbar,
#logo,
#metrics,
#battery,
#window-box,
#datetime,
#system-indicators,
#workspaces {
  background-image: url('/home/shen/.config/Modus/assets/Icon/cristal.png');
  background-repeat: no-repeat;
  background-position: center;
  font-style: normal; 
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  transition: all 0.1s ease;
}

/*
 * ── update ────────────────────────────────────────────────────────────
*/

#update-icon {
  color: @primary;
  font-size: 22px;
  padding: 1px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

#updated-icon {
  color: @primary;
  font-size: 20px;
  padding: 4px;
  border-radius: 99px;
  transition: all 0.1s ease;
}

#update-label {
  color: @primary;
  font-size: 10px;
  font-weight: bold;
  padding: 0px;
  margin-right: 4px;
  border-radius: 11px;
  transition: all 0.1s ease;
}

/*
 * ── Clock ─────────────────────────────────────────────────────────────
*/

/*
 * ── battery ───────────────────────────────────────────────────────────
*/

#battery-circle {
  color: @surfaceBright;
  border: 3px solid @primary;
}

#battery-circle.alert {
  border: 2px solid @error;
}

#battery-icon {
  font-size: 20px;
}

#battery-icon.alert {
  color: @onError;
}

#battery-save,
#battery-balanced,
#battery-performance {
  min-width: 30px;
  min-height: 28px;
  margin: 2px 0px;
  border-radius: 100px;
}

#battery-save-label,
#battery-balanced-label,
#battery-performance-label {
  color: @outline;
  font-size: 20px;
}

#primary-label {
  color: @primary;
  font-size: 20px;
}

#battery-save:hover,
#battery-balanced:hover,
#battery-performance:hover { 
  text-shadow: 1px 1px 2px @primary;
  transition: text-shadow 0.2s ease-in-out;
}

#battery-save:hover #battery-save-label,
#battery-balanced:hover #battery-balanced-label,
#battery-performance:hover #battery-performance-label {
  color: @primary;
}

#battery-save.active,
#battery-balanced.active,
#battery-performance.active {
  background-color: @primary;
}

#battery-save.active #battery-save-label,
#battery-balanced.active #battery-balanced-label,
#battery-performance.active #battery-performance-label {
  color: @shadow;
}

#battery-level {
  color: @primary;
  font-weight: bold;
  margin: 0 4px;
  font-size: 11px;
}

/*
 * ── metric ────────────────────────────────────────────────────────
*/

#metric-icon-netup, 
#metric-icon-netdown,
#metric-icon-ram,
#metric-icon-cpu,
#metric-icon-disk,
#metric-icon-temp {
  font-size: 13px;
  color: @outline;
}

#metric-icon-netup.alert,
#metric-icon-netdown.alert,
#metric-icon-ram.alert,
#metric-icon-cpu.alert,
#metric-icon-disk.alert,
#metric-icon-temp.alert {
  color: @error;
  text-shadow: 1px 1px 2px @error;
}

#metric-circle-netup,
#metric-circle-netdown,
#metric-circle-ram,
#metric-circle-cpu,
#metric-circle-disk,
#metric-circle-temp {
  color: @surfaceBright;
  border: 2px solid @primary;
  transition: border-color 0.2s ease-in-out;
}

#metric-circle-netup.alert,
#metric-circle-netdown.alert,
#metric-circle-ram.alert,
#metric-circle-cpu.alert,
#metric-circle-disk.alert,
#metric-circle-temp.alert {
  border-color: @error;
}

/*
 * ── tray ──────────────────────────────────────────────────────────────
*/

#tray-revealer {
  background-image: url('/home/shen/.config/Modus/assets/Icon/cristal.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1px 0px 1px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
  font-size: 20px;
}

#tray { 
  background-image: url('/home/shen/.config/Modus/assets/Icon/cristal.png');
  background-repeat: no-repeat;
  background-position: center;  
  margin-top: 5px;
  margin-left: 4px;
  margin-bottom: 5px;
  padding: 0px 8px 0px;
  border-radius: 8px;
  min-width: 24px;
  min-height: 24px;
}

#tray > button {
  margin: 0px;
  padding: 0px;
}

#tray-revealer:hover {
  text-shadow: 1px 1px 2px @primary; 
}

menu {
  border: solid 1px @outlineVariant;
  border-radius: 16px;
  background-color: @surface;
  padding: 6px;
}

menu > menuitem {
  border-radius: 10px;
  padding: 6px 10px;
}

menu > menuitem:hover {
  text-shadow: 1px 1px 2px @primary; 
}

menu > menuitem:hover > label {
  text-shadow: 1px 1px 2px @primary; 
  color: @onSurface;
}

/*
 * ── logo ──────────────────────────────────────────────────────────────
*/  

#logo-name {
  color: @primary;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.1s ease;
}

/*
 * ── status indicator ───────────────────────────────────────────────────────────
*/

#system-indicator-icon {
  font-size: 20px;
}

/*
 * ── taskbar ───────────────────────────────────────────────────────────
*/

#taskbar > button.activated {
  border-radius: 100px;
  background: @surfaceVariant;
}

#taskbar > button:hover {
  background: @surfaceBright;
}

#taskbar > button {
  padding: 0px 4px;
  margin: 4px 0px;
  border-radius: 100px;
  border: 0px;
}

#taskbar > button:last-child {
  margin-right: 0px;
}

/*
 * ── recording indicator ───────────────────────────────────────────────
*/

#recorder {
  color: @error;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 6px 0px;
  border-radius: 8px;
  font-size: 20px;
  animation: error 2s infinite;
}

@keyframes error {
  to {
    background-color: @onError;
  }
} 

/*
 * ── Bottom ──────────────────────────────────────────────────────────────
*/

#bot.start-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-right-radius: 15px;
} 

#bot.center-container {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#bot.end-container {
  padding-top: 2px;
  padding-bottom: 2px; 
  border-top-left-radius: 15px;
}

/*
 * ── dock ──────────────────────────────────────────────────────────────
*/

#dock-icon {
  padding: 0px 2px 0px 2px; 
}

#dock-app-button:hover #dock-icon-image {
    margin-top: -5px;
    margin-bottom: 5px;
    transition: margin 0.2s ease;
}

#dock-app-indicator {
    margin-top: 1px;
    margin-bottom: 1px;
}

#dock {
  padding: 2px;
  border: 2px none; 
  margin-bottom: 2px; 
}

#dock-separator {
  border-right: 1px solid alpha(@primary, 0.5);
  margin-left: 2px;
  margin-right: 2px;
}

#dock-app-button {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 12px; 
}

.show-dock {
  opacity: 1;
  margin: 0;
}

.hide-dock {
  opacity: 1;
  margin: -80px;
}
