/*
 * ── launcher ──────────────────────────────────────────────────────────
*/
#dashboard {
  min-height: 100px;
}

#launcher {
  margin: 18px;
  border: 2px solid @outlineVariant;
  background-color: alpha(@background, 0.6);
  border-radius: 24px;
  padding: 18px;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
}

#launcher entry {
  transition: all 0.1s ease;
  border-radius: 11px;
  padding: 10px;
  margin: 12px;
  box-shadow: inset 0 0 0 1px @outlineVariant;
}

#launcher-content.wallpapers {
  padding: 16px;
  min-height: 420px;
  min-width: 620px;
}

.cliphist {
  min-height: 464px;
  min-width: 300px;
}

.applauncher-scrolled-window {
  transition: min-height 0.2s ease;
}

#launcher-content.bluetooth {
  min-height: 464px;
}

#launcher-content.wifi {
  min-height: 464px;
}

#launcher-content.todo {
  min-width: 460px;
  min-height: 300px;
}

#launcher-content.calendar {
  min-height: 420px;
  min-width: 420px;
}

#launcher-content {
  min-width: 485px;
}

#app-launcher,
#wallpapers,
#todo,
#bluetooth,
#sh,
#cliphist,
#emoji,
#power {
  transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#scrolled-window scrollbar {
  border-radius: 10px;
  background-color: lighter(@background);
  padding: 4px;
  margin-left: 6px;
}

#scrolled-window slider {
  border-radius: 8px;
  min-width: 10px;
  min-height: 48px;
  background-color: @primary;
}

/*
 * ── applauncher ───────────────────────────────────────────────────────
*/

#launcher-app {
  border-radius: 16px;
  padding: 16px;
  min-height: 0;
  transition: padding 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#launcher-app:hover image,
#launcher-app:active image,
#launcher-app:selected image,
#launcher-app.selected image,
#launcher-app:focus image {
  -gtk-icon-shadow: 2px 2px @primary;
}

#launcher-app:hover,
#launcher-app:active,
#launcher-app.selected,
#launcher-app:selected,
#launcher-app:focus {
  text-shadow: 2pt 2pt 2pt @primary;
}

#launcher-app-icon {
  margin-right: 8px;
}

#search-entry{
  background-image: url("file:///home/shen/.config/Modus/assets/Icon/baner.jpg");
  background-repeat: no-repeat; 
  background-position: right;
  background-size: contain;  
  background-color: #000;

  border-radius: 8px;
  border: 1px solid @outlineVariant;
  padding: 8px 12px;

  color: @primary;
}

/*
 * ── wallpaper ─────────────────────────────────────────────────────────
*/
#search-entry-walls {
  min-width: 300px; 
}

#entry-custom-color {
  min-width: 10px;
}

#wallpaper-icons:selected {
  background-color: @surfaceBright;
  border-radius: 8px;
}

#wallpaper-icons:hover {
  background-color: @surfaceBright;
  border-radius: 8px;
}

#dropdown-box {
  background-color: lighter(@background);
  box-shadow: inset 0 0 0 1px @outlineVariant;
  border-radius: 11px;
  padding: 10px;
  margin: 12px;
}

#scheme-dropdown {
  font-weight: bold;
}

/* Customize the overall switch appearance */
#materialyoucolor-switcher {
  min-width: 40px;
  min-height: 20px;
  background-color: @surface;
  border-radius: 15px;
  padding: 2px;
  transition: background-color 0.3s ease;
}

/* Style the switch's slider */
#materialyoucolor-switcher slider {
  background-color: var(--primary);
  border-radius: 16px;
  min-width: 20px;
  min-height: 20px;
  transition:
    background-color 0.1s cubic-bezier(0.5, 0.25, 0, 1.25),
    transform 0.25s cubic-bezier(0.5, 0.25, 0, 1.25);
}

/* When the switch is active (checked) */
#materialyoucolor-switcher:checked {
  background-color: @primary;
}

/* Optional: additional styling for the slider when active */
#materialyoucolor-switcher:checked slider {
  background-color: @shadow;
}

#mat-label {
  font-size: 24px;
  margin-left: 4px;
}

/*
 * ── emoji ─────────────────────────────────────────────────────────────
*/

#launcher button#emoji-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0px;
}

#launcher button#emoji-item label {
  font-size: 24px;
}

#launcher button#emoji-item:hover,
#launcher button#emoji-item:focus {
  text-shadow: 2px 2px 2px @primary;
}

/*
 * ── powermenu ─────────────────────────────────────────────────────────
*/

#power-menu-button {
  border-radius: 20px;
  min-width: 52px;
  min-height: 52px;
  padding: 20px;
}

#power-menu-button label {
  font-size: 64px;
  color: @foreground;
}

#power-menu-button:hover,
#power-menu-button:focus {
  background-color: @surfaceBright;
  border-radius: 24px;
  border: 2px solid @outlineVariant;
}

#power-menu-button:hover label,
#power-menu-button:focus label {
  color: @primary;
}

#power-menu-button:active {
  background-color: @primary;
}

#power-menu-button:active label {
  color: @shadow;
}

/*
 * ── cliphist ──────────────────────────────────────────────────────────
*/

button#clip-img-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  min-width: 70px;
  min-height: 70px;
}

button#clip-img-item:hover,
button#clip-img-item:focus {
  box-shadow: 2px 2px 2px @primary;
}

button#clip-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 6px;
}

button#clip-item {
  font-size: 30px;
}

button#clip-item:hover,
button#clip-item:focus {
  text-shadow: 2px 2px 2px @primary;
}

#clear-button {
  margin: 11px;
  margin-left: 0px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 100%;
}

#clear-button:hover {
  background-color: mix(@onSurface, @surface, 0.92);
}

#cliphist-clear-button {
  font-size: 24px;
}

/*
 * ── todo ──────────────────────────────────────────────────────────────
*/
#todo-launcher {
  padding: 10px;
  border-radius: 8px;
}

#todo-item {
  padding: 8px;
  border-radius: 4px;
  background-color: alpha(@background, 0.3);
}

#todo-label {
  font-size: 16px;
}

#todo-label-completed {
  color: alpha(@outlineVariant, 1);
  text-decoration: line-through;
}

#add-button {
  margin: 11px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 100%;
}

#delete-button,
#checkbox {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 100%;
}

#add-button:hover,
#delete-button:hover,
#checkbox:hover {
  background-color: mix(@onSurface, @surface, 0.92);
}

#todo-add-button,
#todo-checkbox,
#todo-delete-button {
  font-size: 24px;
}

/*
 * ── sh runner ─────────────────────────────────────────────────────────
*/

#launcher button#sh-item {
  border-radius: 11px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  padding: 0px;
}

#launcher button#sh-item {
  font-size: 24px;
}

#launcher button#sh-item:hover,
#launcher button#sh-item:focus {
  text-shadow: 2px 2px 2px @primary;
}

/*
 * ── bluetooth ─────────────────────────────────────────────────────────
*/

#bluetooth-header {
  background-color: @surfaceContainer;
  padding: 4px;
  border-radius: 20px;
}

#bluetooth-device {
  background-color: @secondaryContainer;
  border-radius: 16px;
  padding: 4px;
  margin-bottom: 4px;
}

#bluetooth-scan-button,
#bluetooth-toggle-button {
  font-size: 24px;
}

#bluetooth-scan,
#bluetooth-toggle {
  background-color: @secondaryContainer;
  margin-left: 0px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 100%;
}

#bluetooth-scan:hover,
#bluetooth-toggle:hover {
  background-color: @surfaceBright;
}

#bluetooth-scan label,
#bluetooth-toggle label {
  font-weight: bold;
}

#bluetooth-text,
#bluetooth-section {
  font-weight: bold;
}

#bluetooth-text {
  color: @primary;
}

#bluetooth-connection {
  font-size: 20px;
}

#bluetooth-connect {
  background-color: lighter(@background);
  border-radius: 16px;
  padding: 8px 16px;
}

#bluetooth-connect:hover {
  background-color: @surfaceBright;
}

#bluetooth-paired,
#bluetooth-available {
  background-color: @surfaceContainer;
  padding: 4px;
  border-radius: 20px;
}

/*
 * ── wifi ──────────────────────────────────────────────────────────────
*/

#wifi-header {
  background-color: @surfaceContainer;
  padding: 4px;
  border-radius: 20px;
}

#wifi-device {
  background-color: @secondaryContainer;
  border-radius: 16px;
  padding: 4px;
  margin-bottom: 4px;
}

#wifi-toggle-icon {
  font-size: 24px;
}

#wifi-scan,
#wifi-toggle {
  background-color: @secondaryContainer;
  margin-left: 0px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 100%;
}

#wifi-scan:hover,
#wifi-toggle:hover {
  background-color: @surfaceBright;
}

#wifi-scan label,
#wifi-toggle label {
  font-weight: bold;
}

#wifi-text,
#wifi-section {
  font-weight: bold;
}

#wifi-text {
  color: @primary;
}

#wifi-connection {
  font-size: 20px;
}

#wifi-connect {
  background-color: lighter(@background);
  border-radius: 16px;
  padding: 8px 16px;
}

#wifi-connect:hover {
  background-color: @surfaceBright;
}

#wifi-available {
  background-color: @surfaceContainer;
  padding: 4px;
  border-radius: 20px;
}

/*
 * ── calendar ──────────────────────────────────────────────────────────
*/

#header {
  border-radius: 16px;
  padding: 4px;
}

#weekday-row {
  border-radius: 8px;
  padding: 4px;
}

#month-label,
#weekday-label,
#day-label {
  font-weight: bold;
}

#day-label,
#day-empty {
  min-width: 42px;
  min-height: 36px;
}

#day-empty {
  color: @surfaceBright;
}

#weekday-label {
  color: @primary;
}

#calendar-grid {
  border-radius: 16px;
  padding: 4px;
}

#day-label.current-day {
  background-color: @primary;
  color: @onPrimary;
  min-height: 36px;
  min-width: 42px;
  border-radius: 99px;
}

#prev-month-button,
#next-month-button {
  border-radius: 8px;
  padding: 4px;
}

#prev-month-button:hover,
#next-month-button:hover {
  background-color: @surfaceBright;
}

#prev-month-button:active,
#next-month-button:active {
  background-color: @primary;
}

#month-button-label {
  color: @primary;
  font-size: 20px;
}

#prev-month-button:active #month-button-label,
#next-month-button:active #month-button-label {
  color: @surface;
}

#day-box {
  padding: 5px;
  border-radius: 5px;
  min-width: 30px;
  min-height: 30px;
}

#prev-month-day,
#next-month-day {
  color: mix(@onSurfaceVariant, transparent, 0.6);
}
