@import url(../../.cache/material/colors.css);
@import "./bar.css";
@import "./notification.css";
@import "./osd.css";
@import "./launcher.css";
@import "./dashboard.css";
@import "./config.css";

* {
  all: unset;
  color: @foreground;
  font-size: 16px;
  font-family: "Chakra Petch";
}

/*
 * ── tooltip ───────────────────────────────────────────────────────────
*/

tooltip {
  border: solid 1px;
  border-radius: 10px;
  border-color: alpha(@primary,0.6);
  background-color: alpha(@background,0.6);
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

@keyframes tooltipShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

tooltip > * {
  padding: 6px 10px;
  border-radius: 10px;
}

/*
 * ── dock ──────────────────────────────────────────────────────────────
*/
#dock-icon {
  padding: 0px 2px 0px 2px;
}

#dock {
  padding: 10px;
  background-color: alpha(@background, 0.6);
  border: 2px solid @outlineVariant;
  border-radius: 12px;
  margin-bottom: 2px;
}

#dock-separator {
  border-right: 1px solid alpha(@primary, 0.5);
}

#dock-app-button {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 12px;
}

#dock-app-button:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}

.show-dock {
  opacity: 1;
  margin: 0;
}

.hide-dock {
  opacity: 1;
  margin: -80px;
}
