@import url(../../.cache/material/colors.css);
@import "./bar.css";
@import "./notification.css";
@import "./osd.css";
@import "./launcher.css";
@import "./dashboard.css";

* {
  all: unset;
  color: @foreground; 
}

/*
 * ── tooltip ───────────────────────────────────────────────────────────
*/

tooltip {
  border: none 1px;
  border-radius: 10px;
  background-color: alpha(@background,1.0);
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1); 
}

tooltip > * {
  padding: 6px 10px;
  border-radius: 10px;
}
