@import url(../../.cache/material/colors.css);
@import "./bar.css";
@import "./notification.css";
@import "./osd.css";
@import "./launcher.css";
@import "./dashboard.css";

* {
  all: unset;
  color: @foreground; 
  font-size: 14px;
  font-family: "Minecraft Rus";
}

/*
 * ── tooltip ───────────────────────────────────────────────────────────
*/

tooltip {
  border: none 1px;
  border-radius: 10px;
  background-color: alpha(@background,1.0);
  animation: tooltipShow 0.25s cubic-bezier(0.5, 0.25, 0, 1); 
}

tooltip > * {
  padding: 6px 10px;
  border-radius: 10px;
}

/*
 * ── dock ──────────────────────────────────────────────────────────────
*/
#dock-icon {
  padding: 0px 2px 0px 2px;
}

#dock-app-indicator {
    color: @primary;
}


#dock {
  padding: 10px;
  background-color: alpha(@background, 1.0); 
  border: 2px none;
  /*border-color: alpha(@primary,0.6);*/
  border-radius: 12px;
  margin-bottom: 2px; 
}

#dock-separator {
  border-right: 1px solid alpha(@primary, 0.5);
}

#dock-app-button {
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 12px;
  background-color: alpha(@surfaceContainer,0.6);
  box-shadow: 0 8px 4px alpha(@base00, 0.3), 
  inset 0 4px 12px rgba(255, 255, 255, 0.15);
}

#dock-app-button:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}

.show-dock {
  opacity: 1;
  margin: 0;
}

.hide-dock {
  opacity: 1;
  margin: -80px;
}
