#notification-bubble{
  min-width: 340px;
  min-height: 140px;
}

#notification-image{
  margin-right: -20px;
  margin-top: 30px;
}

#notification-text{
  font-size: 12px;  
  padding-left: 65px;
  padding-top: 10px; 
}

#notification-action-buttons button:active {
  background-color: @primary;
}

#notification-summary,
#button-label {
  font-weight: bold;
}

#notification-summary {
  font-weight: bold;
  color: @primary;
}

#notification-app-name {
  color: @outline;
}

#notification-box {
  background-color: transparent;
  margin: 0px;
}

#boxed-notification-revealer {
  margin-top: -14px;
}

#notification-action-buttons button{
  text-shadow: 0px 0px 2px @surfaceBright;
  margin-top: 0px;
}

#notif-close-button {
  text-shadow: 0px 0px 2px @surfaceBright; 
  margin-right: 12px;
  margin-top: 20px;
}

#notification-action-buttons button:hover,
#notif-close-button:hover,
#notif-close-button:focus {
  text-shadow: 1px 1px 2px @error;
  border-radius: 4px;
}

#notif-close-button:active {
  background-color: @error;
}

#notif-close-label {
  color: @error; 
  font-size: 20px;
}

#notif-close-button:active #notif-close-label {
  color: @shadow;
}
