.date-center {
    @include window;
    padding: 1rem;
    min-height: 20rem;
}

.date-center-widget {
    padding: 1rem;
    margin-bottom: 1rem;
}

.holiday-day {
    border-style: solid;
    border-width: 2px;
    border-color: $primary $primary $tertiary $tertiary;
    border-radius: 0.50rem;
    padding: 1rem;
    color: $onSurface;
}
