.desktop{ 
    background-color: rgba($surface, 0.3);  
}

.popup{
    background-color: transparent; 
}

.weather {
    min-width: 0rem;
    margin-bottom: 0rem;
    font-size: 6rem;
    padding: 0.5rem;
    margin-left: 8rem;
    color: $primary;
}

.quote {
    min-width: 0rem;
    margin-bottom: 0rem;
    font-size: 1.30rem;
    padding: 0.5rem;
    margin-left: 0rem;
    color: $primary;
}
